{% extends "base.html" %}
{% load static %}

{% block contenido %}

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          {% if mensaje %}
          <h2> INGRESO EXITOSO!! </h2>
          <h2> {{ mensaje }}</h2>
          {% endif %}
          <h2>Bienvenido a SIMONA</h2>
          <p>La idea de SIMONA, es que sea una pagina web de ayuda para una empresa que vende muebles/sillones.Donde puedan ver los productos que tienen, el registro de los clientes y las ventas de cada uno de ellos. Usuario ejemplo: Lucas - Contraseña: 1234Lucassimo </p>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->

{% endblock %}